<div class="container">


  <form class="form-inline">
    <div class="form-group mx-sm-3 mb-2 mt-2 ">
      <label>Model Velo en tapant</label>
      <input #nom [(ngModel)]="searchTerm" name="searchTerm" class="form-control">
    </div>
  </form>

  <!--<form class="form-inline">
    <div class="form-group mx-sm-3 mb-2 mt-2 ">
      <label>Model Velo en tapant</label>
      <input class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)">
    </div>
  </form>-->

  <!--<form class="form-inline">
    <div class="form-group mx-sm-3 mb-2 mt-2 ">
      <label>Model Velo</label>
      <input type="text" class="form-control" [(ngModel)]="nomVelo" name="nomVelo" class="form-control">
      <button type="submit" (click)="rechercherVelos()" class="btn btn-primary mb-2 ml-2">Rechercher</button>
    </div>
  </form>-->


  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Id</th>
          <th>Model</th>
          <th>Prix</th>
          <th>Type</th>
        </tr>
        </thead>
        <tbody *ngFor="let velo of velos  | searchFilter: searchTerm ">
        <tr>
          <td>{{velo.idVelo}}</td>
          <td>{{velo.modelVelo}}</td>
          <td>{{velo.prixVelo}}</td>
          <td>{{velo.type.nomType}}</td>
          <td><a *ngIf="authService.isAdmin()" class="btn btn-success"
                 [routerLink]="['/maj-velo',velo.idVelo]">Modifier</a></td>
          <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerVelo(velo)">Supprimer</a></td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
